 <form action="/favorites" method="POST">
    <input type="hidden" name="id" value="<%= home.id %>">
    <button class="bg-green-600 hover:bg-green-700 text-white font-bold py-3 px-6 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:-translate-y-1
    ">Add to Favorites</button>
 </form>