<header class="bg-white shadow-lg py-4 px-6 flex justify-between items-center">
    <nav class="flex items-center space-x-8">
        <a href="/" class="text-gray-600 hover:text-rose-500 font-semibold transition duration-300 ease-in-out">airbnb</a>
        <a href="/homes" class="text-gray-600 hover:text-rose-500 font-semibold transition duration-300 ease-in-out">homes</a>
        <a href="/host/add-home" class="text-gray-600 hover:text-rose-500 font-semibold transition duration-300 ease-in-out">Add Home</a>
    </nav>
</header>